#banner{
	padding-bottom: -7.5px;
	text-align:center;
	padding-left: 138px;
}
#content{
	background:#E6E6E6;
	border: thin solid black;
	width: 500px;
	padding: 0px auto;
	padding-left: 5px;
	font-size:12pt;
}
#content ol {
	list-style: none;
	margin-left: 0;
	padding-left: 1em;
	text-indent: -1em;
}
#content ul {
	list-style: none;
	margin-left: 0;
	padding-left: 1em;
	text-indent: -1em;
}
#content li:before{
	content: "\2022 \0020";
}
#header{
	padding-bottom: 20px;
	text-align:center;
	padding: 0px auto;
}
#help{
	padding-left: 175px;
	text-align:center;
}
#hugewrap{
	width: 850px;
}
#logo{
	padding: -1px;
}
#navigation{
	display: inline;
	float: left;
	border-right: medium solid #7BBDE6;
}
#request{
	background:#E6E6E6;
	border: thin solid black;
	padding: 5px;
	width: 600px;
	padding: 0px auto;
}
#top_links{
	padding-left: 172px;
}
#wrap{
	padding-left: 37%;
}
a:link{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
	color:#005FA9;
}
a:active{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}


body{
	background-color:#FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #3D2713;
	font-size: 9pt;
}

h3{
	font-family: Arial, Helvetica, sans-serif;
	color:#005FA9;
	font-size:115%;
}
h4{
	font-family: Arial, Helvetica, sans-serif;
	color:#005FA9;
	font-size:105%;
}
hr{
	color:#7BBDE6;
	background-color:#7BBDE6;
	height: 5px;
}
table, td
{
    border-color: #FFFFFF;
    border-style: solid;
}
table
{
    border-width: 0 0 1px 1px;
    border-spacing: 0;
    border-collapse: collapse;
	padding: 0px auto;
	background:#E6E6E6;
}
td
{
    padding: 0;
    padding: 2px;
    border-width: 1px 1px 0 0;
}

* {padding:0; margin:0}
.dropdown {display:block; position:relative}
.dropdown dt {width:170px; border:2px solid #9ac1c9; padding:8px; cursor:pointer; background:url(images/header.gif)}
.dropdown .upperdd {border-bottom:none}
.dropdown dt:hover {background:url(images/header_over.gif)}
.dropdown dd {position:absolute; top:0; overflow:hidden; width:208px; display:none; background:#fff; opacity:0}
.dropdown a, .dropdown a:active, .dropdown a:visited {display:block; padding:5px; color:#333; text-decoration:none; background:#eaf0f2; width:194px}
.dropdown a:hover {background:#d9e1e4; color:#000}
.dropdown .underline {border-bottom:1px solid #b9d6dc}